*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.icons{
  display: none;
}
.nav{
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  overflow: auto; /**/
}
.logo{
  display: flex;
  padding: 1rem .5rem;
  justify-content: space-between;
}
.toggle-btn{
  color: #49A6E9;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.5rem;
  transition: all linear 0.3s;
}
.toggle-btn:hover{
  transform: rotate(90deg);
}
.navigation-links{
  transition: linear all .3s;
  overflow: hidden;
  height: 0;
}
.nav-links{
  overflow: hidden;
}
.nav-links li a{
  color: #324D71;
  letter-spacing: 1px;
  text-transform: capitalize;
  display: block;
  padding: 10px;
  transition: linear all .3s;
}
.nav-links li a:hover{
  background-color: #A5D5F8;
  padding-left: 20px;
  color: #48A9E7; 
}
@media screen and (min-width:800px) {
  .toggle-btn{
    display: none;
  }
  .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navigation-links{
    height: auto !important;
  }
  .nav-links{
    display: flex;
    gap: 1.4rem;
  }
  .nav-links li a{
    padding: 0;
  }
  .nav-links li a:hover{
    background-color:transparent;
    padding-left: 0;
  }
  .icons{
    display: flex;   
    gap: 14px; 
  }
}